* {box-sizing: border-box;}

.container { 
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
  
    
    
}

.grid_kolom-4 {
    width: 75%;
    height: 600px;
    float: left;
    margin: 0;
    padding: 65px;
    border-left: 5px solid #FFF;
    background-image: url("../img/achtergrond.jpg");
    background-size: 100% 600px;
    }



.grid_kolom-3 {
    
    width: 25%;
    height: 300px;
    float: right;
    margin: 0;
    padding: 65px;
    border-bottom: 5px none #000000;
    border-right: 5px none #000000;
    border-top: 5px none #000000;
    background-image: url("../img/weg.jpg");
    background-size: 100% 300px;
    }

.grid_kolom-2 {
    
    width: 25%;
    height: 300px;
    float: right;
    margin: 0;
    padding: 65px;
    border-bottom: 5px none #000000;
    
    border-top: 5px none #000000;
    
    background-size: 100% 300px;
    }
   


@media only screen and (max-width: 500px) {
    grid_kolom-2,
     grid_kolom-3,
      grid_kolom-4 {
          display: block;
          float: none;
          border: solid 50px;
      }
}
