/* lettertype + kleur link + witte achtergrond navigatie +  */
.navigation a {font-family: Courier New, Courier, monospace;
color: #000000;
text-decoration: none;
}

.navigation { background: #FFF; margin: 0; 
}
.navigation::after { content: '';
 display: table; 
 clear: both;
}
/* navigatiebalk instellingen + hover navigatiebalk*/
.navigation_item { float: left;
border: none;
padding: 8px 30px;
list-style-type: none;


}



.navigation_item:hover {background: rgb(130, 130, 130);

}

/* tekst in navigatiebalk veranderen met hover */
.navigation a:hover {color: #FFF;}

/* achtergrond navigatie voor als men op de pagina zit */

.navigation_item:active {background: rgb(130, 130, 130);}


/* instellingen logo */
.logo {width: 650px;
height: 450px;
position: absolute;
left: 50px;
top: 120px;
}


/* achtergrond */
body {background-color: rgb(220, 220, 225);




}




 /*logo linksboven */

.logoklein { width: 80px;
height: 80px;
position: absolute;
left: -20px;
top: -21px;

}









