.navigation_item a {font-family: Courier New, Courier, monospace;}
.navigation { background: #FFF;}

.navigation_item { float: left;
border: none;
padding: 8px 30px;
list-style-type: none;
background-color: rgb(200, 200, 200);
}

.navigation_item a {color: black;
                    text-decoration: none;}

.navigation_item:hover {background: rgb(130, 130, 130);
}

.navigation_item a:hover {color: #FFF;}

.navigation_item:active {background: rgb(130, 130, 130);}

body {background: rgb(190, 20, 30);}

.logo {width: 650px;
height: 450px;
position: absolute;
left: 50px;
top: 120px;}



body {background-image: url("../_img/achtergrond.jpg");
background-repeat: no repeat;
}





